
.titulo-seccion{
    margin-top: 80px;
    background-color: #d5f7e6;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.servicios{
    background-color: #dbd6d6;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}


.servicios__contenedor{
    padding: 20px;
}

.servicios__contenedor>img{
    width: 340px;
}

